examples/fsrk_embedded_error/*/*.csv
examples/fsrk_embedded_error/*/*.png
examples/fsrk_embedded_error/*/*.gif
examples/fsrk_embedded_error/*.csv
examples/fsrk_embedded_error/*.png
examples/fsrk_embedded_error/*.gif
__pycache__
